.Rproj.user
.Rproj.user*
.Rhistory
.RData
.RData*
.Ruserdata
README.html
*_.new.png
*unpublished*
*dummy*
data/1_pupil_teacher_numbers_2026-04-23.parquet
data/2_pgitt_need_timeseries_2026-04-23.parquet
data/3_drivers_analysis_2026-04-23.parquet
data/4_flow_trajectories_2025_publication_2026-04-23.parquet
data/5_flow_trajectories_2026_publication_2026-04-23.parquet